{% extends 'urlshortener/base.html' %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Acortador de URL<small> simple, rápido y fácil</small></h1>

        <form action="{% url 'urlshortener:shrink' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="url">Ingresa la URL que quieras acortar:</label>
                <input v-model="url" class="form-control" type="text" name="url" value="" id="url" placeholder="http://example.com/articulo/123">
            </div>

            <div class="">
                <button type="submit" class="btn btn-block btn-primary" :class="{'disabled': isEmpty}">
                    Acortar
                </button>
            </div>
        </form>
    </div>


    <script type="text/javascript">
        vm = new Vue({
            el: '#app',
            data: {},
            computed: {
                isEmpty: function(){
                    return this.url.length < 5
                },
            },
        })
    </script>

{% endblock %}
