{% extends 'urlshortener/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>URL Corta:</h1>
            <form class="" action="index.html" method="post">
                <input class="form-control" type="text" name="name" value="{{url}}" readonly="readonly">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="{% url 'urlshortener:index' %}">Regresar y acortar otra URL</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <img class="responsive" src="{% url 'urlshortener:qr' %}?url={{url|urlencode}}" alt="" />
        </div>
    </div>
{% endblock %}
