{% extends 'urlshortener/base.html' %}

{% block content %}
    <template id="contador">
        <button class="btn btn-primary" type="button" name="button" @click="increment">
            Contador {% verbatim %} {{text}} {{counter}}{% endverbatim %}
        </button>
    </template>

    <div class="row">
        <form class="" action="index.html" method="post" @submit.prevent="handle">
            <contador text="hola"></contador>
            <contador text="hello"></contador>
        </form>
    </div>

    <script type="text/javascript">
        vm = new Vue({
            el: '#app',
            data: {
            },
            methods: {

                handle: function(e){
                    // alert('hi')
                }
            },
            components: {
                contador: {
                    template: '#contador',
                    props: ['text'],
                    data: function(){
                        return {
                            counter: 1
                        }
                    },
                    methods: {
                        increment: function(){
                            this.counter += 1
                        },
                    }
                }
            }
        })
    </script>

{% endblock %}
